

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    font-family: 'Open Sans',sans-serif;
}
section h1{
    font-size: 24px;
    color:#000000;
    margin-right:10px;
}

li{
    list-style:none;
    text-decoration:none;
}
.menu {
    background-color: #938ef8;
    display:flex;
    justify-content:flex-end;
    position: fixed;
    width:100%;
 

}
.lista-menu{
    display: flex;
    justify-content:space-evenly;
    width: 50%;
    padding:25px;
}
.menu li{
    list-style: none;
}
.menu a {
    font-weight: 700;
    font-size: 18px;
    line-height:25px;
    color:#ffffff; 
}

.intro-content {
    
   
    background-image: linear-gradient(to top, #d6b9ee, #b06de7);
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:60px;
    padding-bottom:60px;
}
.intro-content figure{
    margin-bottom:20px;
    padding-top: 20px;
    margin-top:30px
}
.title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom:20px;
}
.subtitle {
    font-weight:700 ;
    font-size: 24px;
    color:#6b6969;
    margin-bottom:15px;
}
.intro {
    font-family:'raleway', sans-serif;
    font-weight:600;
    color:#000000;
    max-width: 800px;
    text-align:center; 
    font-size:16px;
    width:100%;
 
    
    

}

    


.conteudo {
    display: flex;
    max-width: 800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:2px;
    margin-bottom:0;
}
#formacao{
    background-image: linear-gradient(to top, #d6b9ee, #b06de7);
    padding-top:60px;
    padding-bottom:60px;
    width:100%;
}

.descricao{
    font-size:16px;
    line-height: 22px;
    color:#240d3f
}

.item{
    padding:22px;
}


#portfolio{
       
    background-image: linear-gradient(to top,  #b06de7,#d6b9ee );
    width:100%;
    height: 600px;
    overflow: hidden; 
}


.titleportfolio{
        
    font-size: 24px;
    color:hsl(0, 0%, 0%);
    margin-left:200px;
    margin-bottom:40px;
    
}

.slides{
    width:400% ;
    height: 40px;
    display:flex;
}
.slides input{
    display: none;
}
.slide{
width: 25%;
position: relative;

}
.slide img {
    display:flex;
    max-width: 680px;
    margin-left:auto;
    margin-right:auto;
    margin-top:2px;
    margin-bottom:0;
  
    
}


.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top:430px;
    display: flex;
    justify-content:center;
}

.manual-btn:not(last-child){
    margin-right: 40px;
}

.manual-btn{
    border: 2px solid rgb(255, 255, 255);
    padding:5px;
    border-radius:20px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:hover{
    background-color: rgb(255, 255, 255);;
}

#contato{
    background-color:#837eeb;
    height: 198px;
    padding-left:50px;
    padding-top:40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    color:#ffffff
}

#radio01:checked~.first{
    margin-left:0;
}

#radio02:checked~.first{
    margin-left:-25%;
}

#radio03:checked~.first{
    margin-left:-50%;
}

.navigation-auto div{
    border:2px solid rgb(169, 87, 207);
    padding:5px;
    border-radius:10px;
    cursor: pointer;
    transition:1s;
}
.navigation-auto{
    position:absolute;
    width: 100%;
    margin-top:430px;
    display:flex;
    justify-content:center;
}

.navigation-auto div:not(.last-child){
margin-right: 40px
}

#radio01:checked~ .navigation-auto .auto-btn {
    background-color:#ffffff
}
#radio02:checked~ .navigation-auto .auto-btn {
    background-color:#ffffff
}
#radio03:checked~ .navigation-auto .auto-btn {
    background-color:#ffffff
}

nav{

height: 103px;
width: px;
left: 0px;
top: 0px;
border-radius: 0px;

}
