body {
    background-color:rgb(159, 84, 209);

}

#formacao{
    color:rgb(136, 30, 30);
    background-color:rgb(0, 183, 255)
}

    




body{
    font-family: 'Open Sans',sans-serif;
}
li{
    list-style:none;
}
.menu {
    background-color: #938DF8;
}
.menu li{
    list-style: none;
}
.menu a {
    font-weight: 700;
    font-size: 18px;
    line-height:25px;
    color:#ffffff;
    
}
.title {
    font-weight: 700;
    font-size: 36px;
}
.subtitle {
    font-weight:700 ;
    font: size 24px;
    color:#C5C0C0;
}
#sobre {
    font-family:'raleway', sans-serif;
    font-weight:500;
    font-size: 16px;
}